################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/change-feed-categories/bin
/modeling-demos/bin
/models/bin
/change-feed-categories/obj
/modeling-demos/obj
/models/obj
/modeling-demos/appSettings.json
