################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/change-feed-categories/bin/Debug/netcoreapp3.1
